@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
    background-image: linear-gradient(to top, #320E3B, #4C2A85, #6B7FD7, #F6F0ED);
    background-attachment: fixed;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    /* Medidas Absolutas
    cm, mm, in(polegada), px, pt, pc(paica)
    
    Medidas Relativas 
    em, ex, rem, vw, vh, %
    16px geralmente - 1em
    */

    /* familia topografica = ligth/ normal/ bold/ bolder */
}

h1, h2 {
    font-family: "Fredericka the Great", serif;
}

a {
    color: black;
}

div {
    padding: auto;
}