@charset "UTF-8";

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    background-color: rgb(138, 43, 226);
    color: yellow;
    font-size: 1.5em;
}
h2{
    color: orange;
    font-size: 1.2em;
}
p{
    text-align: justify;
    color: black;
}
ul{
    color: black;
}
.links-page2 {
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 8px 18px;
    background-color: black;
}

.links-page2 a {
    text-decoration: none;
    color: white;
}